td
{
	vertical-align: top;
	padding: $ph $pf;
}

// On key-value rows, this is the first column.
td:not(:only-child):first-child
{
	font-weight: bold;
	width: 39%;
	padding: $ph 0 $ph $pf;
}

// On key-value rows, this is the second column.
td:not(:only-child):last-child
{
	padding: $ph $pf $ph 0;
}

// Are merged cells always centered?
// TODO: if not, remove this.
td[colspan="2"]
{
	text-align: center;
}