td
{
	vertical-align: top;
	padding-top: $row-p-half;
	padding-bottom: $row-p-half;
	padding-left: $row-p-full;
	padding-right: $row-p-full;
	
	&:first-child:not(:only-child)
	{
		font-weight: bold;
		width: 40%;
	}
}

tr:nth-child(2) td
{
	padding-top: 0;
}