td
{
	// Basic column/cell styles.
	vertical-align: top;
	padding: $row-p-half $row-p-full;
	
	// Set first column style when not a merged column.
	&:first-child:not(:only-child)
	{
		font-weight: bold;
		width: 40%;
	}
}

// Remove the top padding on the second row so the heading appears vertically centered.
tr:nth-child(2) td
{
	padding-top: 0;
}