// Colors used across the framework.

$color_background: rgba(248, 249, 250, 1);
$color_border: rgba(162, 169, 177, 1);

$color_header_historical-person: #cbe;
$color_section-header_historical-person: #e4dcf6;

// TODO: standardize colors definitions.
$color-good-poly: #00CC33;
// TODO: replace with correct color (red).
$color-bad-poly: red;
// TODO: replace with correct color (blue).
$color-steady-poly: blue;