a
{
	color: $color-link-blue;
	text-decoration: none;

	&:hover
	{
		text-decoration: underline;
	}

	&.redlink
	{
		color: $color-link-red;
	}
}

sup
{
	line-height: 0;
}

svg.external
{
	width: $font-size-base;
	height: $font-size-base;
	padding-left: 1px;
}