%generic-heading
{
	font-weight: bold;
	text-align: center;
}

.table-heading
{
	td
	{
		@extend %generic-heading;
		
		font-size: $font-size-base * 1.25;
	}
}

.section-heading
{
	td
	{
		@extend %generic-heading;
	}
}
