svg.external-vector
{
	width: $font-size-base;
	height: $font-size-base;
	padding-left: 1px;
}

.coordinates
{
	font-size: $font-size-base * .85;
}

img.coordinate-globe
{
	vertical-align: middle;
	padding-right: $font-size-base / 4;
}

svg.arrow
{
	width: $font-size-base;
	height: $font-size-base;
	vertical-align: text-top;

	@mixin polygon-fill($color)
	{
		polygon
		{
			fill: $color;
		}
	}

	&.positive
	{
		@include polygon-fill($color-good-poly);
	}

	&.negative
	{
		@include polygon-fill($color-bad-poly);
	}

	&.steady
	{
		@include polygon-fill($color-steady-poly);
	}
}