// Supporting tags styled directly.

// Links, including red links.
a
{
	color: $color-link-blue;
	text-decoration: none;

	&:hover
	{
		text-decoration: underline;
	}

	&.redlink
	{
		color: $color-link-red;
	}
}

// Citation indexes.
sup
{
	line-height: 0;
}