$s: 16px;

// The default font size.
$n: $s * .77;

// The total width of the infobox.
$base-width: 22 * $n;

// Padding for full and half rows.
// $row-p-full: $s / 2;
// $row-p-half: $row-p-full / 2;

// $featured-image-width: 90%;