%subelement-setting
{
	img
	{
		width: 80%;
	}
}

.vertical-value
{
	text-align: center;

	@extend %subelement-setting;

	td
	{
		padding-top: 0;
	}
}

.vertical-heading
{
	@extend %generic-heading;
	@extend %subelement-setting;

	td
	{
		padding-bottom: 0;
	}
}