// Oh shit, here we go again. Hopefully it's not a clusterfuck this time.

@import "partials/values";
@import "partials/colors";

.infobox
{
	width: $w;
	font-family: sans-serif;
	font-size: $f;
	background-color: $color_background;
	border: 1px solid $color_border;
	border-spacing: 0;
	line-height: 1.5;

	@import "partials/utils";
	@import "partials/basic";
	@import "partials/header";
	@import "partials/featured";
	@import "partials/list";

	// In special infoboxes, some properties are overridden, e.g. in royalty, th and .section-header have background colors.
	&.royalty
	{
		@import "partials/royalty/header";
	}

	&.country
	{
		@import "partials/country/basic";
		@import "partials/country/header";
		@import "partials/country/list";
		@import "partials/country/flag-and-seal";
	}
}