@import "partials/colors";
@import "partials/values";

.infobox
{
	border: 1px solid $color-border;
	background-color: $color-background;
	font-family: sans-serif;
	font-size: $font-size-base;
	line-height: 1.5;
	width: $table-width;
	border-collapse: collapse;

	@import "partials/striped";
	@import "partials/extra-tags";
	@import "partials/columns";
	@import "partials/headings";
	@import "partials/featured-image";
	@import "partials/lists";
	@import "partials/vertical";
}