// Styles of the header.

th
{
	background-color: $color_header_historical-person;
}

tr.section-header
{
	td
	{
		background-color: $color_section-header_historical-person;
	}

	&.in-office
	{
		td
		{
			font-weight: normal;

			li:first-child
			{
				font-weight: bold;
			}
		}
	}
}